@using TechnoStore.ViewModels
@model ShopVm
<section class="flat-product-detail">
			<div class="container">
				<div class="row">
				<div class="col-md-6">
					<div class="flexslider">
						<ul class="slides">
						@foreach(var img in Model.Product.ProductImages.Where(x => x.IsPoster == false))
						{

							<li data-thumb="@Url.Content("~/uploads/products/" + @img.ImageUrl)">
								<a href='#' id="zoom1" class='zoom'><img src="~/uploads/products/@img.ImageUrl" alt='' width='400' height='300' /></a>
								
							</li>
						}
						</ul><!-- /.slides -->
					</div><!-- /.flexslider -->
				</div>	<!-- /.col-md-6 -->
					<div class="col-md-6">
						<div class="product-detail">
							<div class="header-detail">
								<h4 class="name">@Model.Product.Name</h4>
								<div class="category">
									@Model.Product.Category.Name
								</div>
								<div class="reviewed">
							@if(Model.Product.IsAvaibily == true)
							{
								<div class="status-product">
									Availablity <span>In stock</span>
								</div>
							}
							else
							{
								<div class="status-product">
									Availablity <span>Out of stock</span>
								</div>
							}

								</div><!-- /.reviewed -->
							</div><!-- /.header-detail -->
							<div class="content-detail">
								<div class="price">
							@if(Model.Product.DiscountPercent != 0)
							{
								<div class="regular">
								     $@Model.Product.Price
								</div>
								<div class="sale">
								     $@(Model.Product.Price - Model.Product.Price * Model.Product.DiscountPercent / 100)
							    </div> 
								
							}
							else
							{
								<div class="sale">
								$@Model.Product.Price
							</div>
							}
						</div>

								<div class="info-text">
									@Model.Product.ShortDescription
								</div>
							</div><!-- /.content-detail -->
							<div class="footer-detail">
								<div class="quanlity-box">
									<div class="colors">
										<select name="color">
									@foreach(var color in Model.Colors)
									{
										<option value="">@color.Name</option>
									}
									
										</select>
									</div>
								</div><!-- /.quanlity-box -->
								<div class="box-cart style2">
									<div class="btn-add-cart">
								<a asp-action="addtobasket" asp-controller="shop" asp-route-productId="@Model.Product.Id" class="add-to-basket" title=""><img src="~/images/icons/add-cart.png" alt="">Add to Cart</a>
									</div>
								</div><!-- /.box-cart -->
							</div><!-- /.footer-detail -->
						</div><!-- /.product-detail -->
					</div><!-- /.col-md-6 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-product-detail -->

		<section class="flat-product-content">
			<ul class="product-detail-bar">
				<li class="active">Description</li>
			</ul><!-- /.product-detail-bar -->
			<div class="container">
				<div class="row">
			<div class="container">
				<div class="description">
					@Model.Product.Description
				</div>
			</div>


				</div><!-- /.row -->
			
			</div><!-- /.container -->
		</section><!-- /.flat-product-content -->

		<section class="flat-imagebox style4">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="flat-row-title">
					        <h3>Similar Products</h3>
						</div>
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel-3">
					@foreach(var item in Model.Products)
					{
						<div class="imagebox style4">
							<div class="box-image">
								<a href="#" title="">
									<img src="~/uploads/products/@item.ProductImages.Where(x=>x.IsPoster == true).FirstOrDefault().ImageUrl" alt="">
								</a>
							</div><!-- /.box-image -->
							<div class="box-content">
								<div class="cat-name">
									<a href="#" title="">@item.Category.Name</a>
								</div>
								<div class="product-name">
									<a href="#" title="">@item.Name<br />@item.Brand.Name</a>
								</div>
								<div class="price">
									@if(item.DiscountPercent != 0)
									{
										<span class="sale">$@(item.Price - item.Price * item.DiscountPercent / 100)</span>
										<span class="regular">$@item.Price</span>
									}
									else
									{
										<span class="regular">$@item.Price</span>
									}
								</div>
							</div><!-- /.box-content -->
						</div>

						<!-- /.imagebox style4 -->
					}

						</div><!-- /.owl-carousel-3 -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-imagebox style4 -->

