@using TechnoStore.ViewModels
@model ShopVm

<main id="shop">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-4">
				<div class="sidebar ">
					<div class="widget widget-categories">
						<div class="widget-title">
							<h3>Categories<span></span></h3>
						</div>
						<ul class="cat-list style1 widget-content">
							<li>
								<span>Accessories<i>(03)</i></span>
								<ul class="cat-child">
									<li>
										<a href="#" title="">TV</a>
									</li>
									<li>
										<a href="#" title="">Monitors</a>
									</li>
									<li>
										<a href="#" title="">Software</a>
									</li>
								</ul>
							</li>
							<li>
								<span>Cameras<i>(19)</i></span>
								<ul class="cat-child">
									<li>
										<a href="#" title="">Go Pro</a>
									</li>
									<li>
										<a href="#" title="">Video</a>
									</li>
									<li>
										<a href="#" title="">Software</a>
									</li>
								</ul>
							</li>
							<li class="">
								<span>Computers<i>(56)</i></span>
								<ul class="cat-child">
									<li>
										<a href="#" title="">Desktop</a>
									</li>
									<li>
										<a href="#" title="">Monitors</a>
									</li>
									<li>
										<a href="#" title="">Software</a>
									</li>
								</ul>
							</li>
							<li>
								<span>Laptops<i>(03)</i></span>
								<ul class="cat-child">
									<li>
										<a href="#" title="">Desktop</a>
									</li>
									<li>
										<a href="#" title="">Monitors</a>
									</li>
									<li>
										<a href="#" title="">Software</a>
									</li>
								</ul>
							</li>
							<li>
								<span>Networking<i>(03)</i></span>
								<ul class="cat-child">
									<li>
										<a href="#" title="">Monitors</a>
									</li>
									<li>
										<a href="#" title="">Software</a>
									</li>
								</ul>
							</li>
							<li>
								<span>Old Products<i>(89)</i></span>
								<ul class="cat-child">
									<li>
										<a href="#" title="">Monitors</a>
									</li>
									<li>
										<a href="#" title="">Software</a>
									</li>
								</ul>
							</li>
							<li>
								<span>Smartphones<i>(90)</i></span>
								<ul class="cat-child">
									<li>
										<a href="#" title="">Apple</a>
									</li>
									<li>
										<a href="#" title="">HTC</a>
									</li>
									<li>
										<a href="#" title="">Sony</a>
									</li>
									<li>
										<a href="#" title="">Samsung</a>
									</li>
									<li>
										<a href="#" title="">LG</a>
									</li>
								</ul>
							</li>
							<li>
								<span>Software<i>(23)</i></span>
								<ul class="cat-child">
									<li>
										<a href="#" title="">Desktop</a>
									</li>
									<li>
										<a href="#" title="">Monitors</a>
									</li>
									<li>
										<a href="#" title="">BKAV</a>
									</li>
								</ul>
							</li>
						</ul><!-- /.cat-list -->
					</div><!-- /.widget-categories -->
					<form asp-action="Filter" asp-controller="Shop" method="get">
						<div class="widget widget-price">
							<div class="widget-title">
								<h3>Price<span></span></h3>
							</div>
							<div class="widget-content">
								<p>Price</p>
								<div class="price search-filter-input">
									<div class="container mt-3">
										<div class="row">
											<input type="number" name="minPrice" placeholder="Min Price">
											<input type="number" name="maxPrice" placeholder="Max Price">
										</div>
									</div>
								</div>
							</div>
						</div><!-- /.widget widget-price -->

						<div class="widget widget-brands">
							<div class="widget-title">
								<h3>Brands<span></span></h3>
							</div>
							<div class="widget-content">
								<ul class="box-checkbox scroll">
									@foreach (var item in Model.Brands)
									{
										<li class="check-box">
											<input type="checkbox" id="brand_@item.Id" name="selectedBrands" value="@item.Id">
											<label for="brand_@item.Id">@item.Name</label>
										</li>
									}
								</ul>
							</div>
						</div><!-- /.widget widget-brands -->

						<div class="widget widget-color">
							<div class="widget-title">
								<h3>Color<span></span></h3>
								<div style="height: 2px"></div>
							</div>
							<div class="widget-content">
								<div style="height: 5px"></div>
								<ul class="box-checkbox scroll">
									@foreach (var item in Model.Colors)
									{
										<li class="check-box">
											<input type="checkbox" id="color_@item.Id" name="selectedColors" value="@item.Id">
											<label for="color_@item.Id">@item.Name</label>
										</li>
									}
								</ul>
							</div>
						</div><!-- /.widget widget-color -->

						<div class="row">
							<div>
								<button type="submit" class="btn btn-outline-warning">Filter</button>
							</div>
						</div>
					</form>

					<div class="widget widget-products">
						<div class="widget-title">
							<h3>Best Seller<span></span></h3>
						</div>
						<ul class="product-list widget-content">
							<li>
								<div class="img-product">
									<a href="#" title="">
										<img src="~/images//blog/14.jpg" alt="">
									</a>
								</div>
								<div class="info-product">
									<div class="name">
										<a href="#" title="">Razer RZ02-01071 <br />500-R3M1</a>
									</div>
									<div class="queue">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</div>
									<div class="price">
										<span class="sale">$50.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div>
							</li>
							<li>
								<div class="img-product">
									<a href="#" title="">
										<img src="~/images//blog/13.jpg" alt="">
									</a>
								</div>
								<div class="info-product">
									<div class="name">
										<a href="#" title="">Notebook Black Spire <br />V Nitro VN7-591G</a>
									</div>
									<div class="queue">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</div>
									<div class="price">
										<span class="sale">$24.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div>
							</li>
							<li>

								<div class="img-product">
									<a href="#" title="">
										<img src="~/images//blog/12.jpg" alt="">
									</a>
								</div>
								<div class="info-product">
									<div class="name">
										<a href="#" title="">Apple iPad Mini <br />G2356</a>
									</div>
									<div class="queue">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</div>
									<div class="price">
										<span class="sale">$90.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div>
							</li>
						</ul>
					</div><!-- /.widget widget-products -->
					<div class="widget widget-banner">
						<div class="banner-box">
							<div class="inner-box">
								<a href="#" title="">
									<img src="~/images//banner_boxes/06.png" alt="">
								</a>
							</div>
						</div>
					</div><!-- /.widget widget-banner -->
				</div><!-- /.sidebar -->
			</div><!-- /.col-lg-3 col-md-4 -->
			<div class="col-lg-9 col-md-8">
				<div class="main-shop">
					<div class="slider owl-carousel-16">
						@foreach (var item in Model.ShopSliders)
						{
							<div class="slider-item style9">
								<div class="item-text">
									<div class="header-item">
										<p>You can build the banner for other category</p>
										<h2 class="name">@item.Title</h2>
									</div>
								</div>
								<div class="item-image">
									<img src="~/uploads/shopsliders/@item.ImageUrl" alt="">
								</div>
							</div>

							<!-- /.slider-item style9 -->
						}

					</div><!-- /.slider -->
					<div class="wrap-imagebox">
						<div class="flat-row-title">
							<h3>Mobile & Tablet</h3>
							<span>
								Showing 1–15 of 20 results
							</span>
							<div class="clearfix"></div>
						</div>
						<div class="sort-product">
							<ul class="icons">
								<li>
									<img src="~/images//icons/list-1.png" alt="">
								</li>
								<li>
									<img src="~/images//icons/list-2.png" alt="">
								</li>
							</ul>
							<div class="sort">
								<div class="popularity">
									<select name="popularity">
										<option value="">Sort by popularity</option>
										<option value="">Sort by popularity</option>
										<option value="">Sort by popularity</option>
										<option value="">Sort by popularity</option>
									</select>
								</div>
								<div class="showed">
									<select name="showed">
										<option value="">Show 15</option>
										<option value="">Show 15</option>
										<option value="">Show 15</option>
										<option value="">Show 15</option>
									</select>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="tab-product">
							<div class="row sort-box">
								@foreach(var item in Model.Products)
								{
									<div class="col-lg-4 col-sm-6">
										<div class="product-box">
											<div class="imagebox">
												<div class="box-image owl-carousel-1">
													<a href="#" title="">
														<img asp-action="detail" asp-route-id="@item.Id" asp-controller="shop" src="@Url.Content("~/uploads/products/"+item.ProductImages?.Where(x => x.IsPoster = true).FirstOrDefault()?.ImageUrl)" alt="">
													</a>
													<a href="#" title="">
														<img asp-action="detail" asp-route-id="@item.Id" asp-controller="shop" src="@Url.Content("~/uploads/products/"+item.ProductImages?.Where(x => x.IsPoster = true).FirstOrDefault()?.ImageUrl)" alt="">
													</a>
													<a href="#" title="">
														<img asp-action="detail" asp-route-id="@item.Id" asp-controller="shop" src="@Url.Content("~/uploads/products/"+item.ProductImages?.Where(x => x.IsPoster = true).FirstOrDefault()?.ImageUrl)" alt="">
													</a>
												</div><!-- /.box-image -->
												<div class="box-content">
													<div class="cat-name">
														<a href="#" title="">@item.Category.Name</a>
													</div>
													<div class="product-name">
														<a href="#" title="">@item.Name<br />@item.Brand.Name</a>
													</div>
													@if(item.DiscountPercent != null)
													{
														<div class="price">
															<span class="regular">$@item.Price</span>
															<span class="sale">$ @(item.Price - item.Price * item.DiscountPercent / 100)</span>
														</div>
													}
													else
													{
														<div class="price">
															<span class="regular">$@item.Price</span>
														</div>
													}
												</div><!-- /.box-content -->
												<div class="box-bottom">
													<div class="btn-add-cart">
														<a href="#" title="">
															<img src="~/images//icons/add-cart.png" alt="">Add to Cart
														</a>
													</div>
													<div class="compare-wishlist">
														<a href="#" class="compare" title="">
															<img src="~/images//icons/compare.png" alt="">Compare
														</a>
														<a href="#" class="wishlist" title="">
															<img src="~/images//icons/wishlist.png" alt="">Wishlist
														</a>
													</div>
												</div><!-- /.box-bottom -->
											</div><!-- /.imagebox -->
										</div>
									</div>

									<!-- /.col-lg-4 col-sm-6 -->
								}
								
							</div>
							<div class="sort-box">
								<div class="product-box style3">
									<div class="imagebox style1 v3">
										<div class="box-image">
											<a href="#" title="">
												<img src="~/images//product/other/s02.jpg" alt="">
											</a>
										</div><!-- /.box-image -->
										<div class="box-content">
											<div class="cat-name">
												<a href="#" title="">Cameras</a>
											</div>
											<div class="product-name">
												<a href="#" title="">Apple iPad Air 2 32GB 9.7"<br />Tablet</a>
											</div>
											<div class="status">
												Availablity: In stock
											</div>
											<div class="info">
												<p>
													The iPhone 5c replaces the iPhone 5 in the Apple stable, inheriting its internals, like the A6 processor, 4" screen...
												</p>
											</div>
										</div><!-- /.box-content -->
										<div class="box-price">
											<div class="price">
												<span class="regular">$2,999.00</span>
												<span class="sale">$1,999.00</span>
											</div>
											<div class="btn-add-cart">
												<a href="#" title="">
													<img src="~/images//icons/add-cart.png" alt="">Add to Cart
												</a>
											</div>
											<div class="compare-wishlist">
												<a href="#" class="compare" title="">
													<img src="~/images//icons/compare.png" alt="">Compare
												</a>
												<a href="#" class="wishlist" title="">
													<img src="~/images//icons/wishlist.png" alt="">Wishlist
												</a>
											</div>
										</div><!-- /.box-price -->
									</div><!-- /.imagebox -->
								</div><!-- /.product-box -->
								<div class="product-box style3">
									<div class="imagebox style1 v3">
										<div class="box-image">
											<a href="#" title="">
												<img src="~/images//product/other/01-v3.jpg" alt="">
											</a>
										</div><!-- /.box-image -->
										<div class="box-content">
											<div class="cat-name">
												<a href="#" title="">Cameras</a>
											</div>
											<div class="product-name">
												<a href="#" title="">New X5C-1 2.4Ghz Gyro <br />RC Quadcopter Drone</a>
											</div>
											<div class="status">
												Availablity: In stock
											</div>
											<div class="info">
												<p>
													The iPhone 5c replaces the iPhone 5 in the Apple stable, inheriting its internals, like the A6 processor, 4" screen...
												</p>
											</div>
										</div><!-- /.box-content -->
										<div class="box-price">
											<div class="price">
												<span class="regular">$2,999.00</span>
												<span class="sale">$1,999.00</span>
											</div>
											<div class="btn-add-cart">
												<a href="#" title="">
													<img src="~/images//icons/add-cart.png" alt="">Add to Cart
												</a>
											</div>
											<div class="compare-wishlist">
												<a href="#" class="compare" title="">
													<img src="~/images//icons/compare.png" alt="">Compare
												</a>
												<a href="#" class="wishlist" title="">
													<img src="~/images//icons/wishlist.png" alt="">Wishlist
												</a>
											</div>
										</div><!-- /.box-price -->
									</div><!-- /.imagebox -->
								</div><!-- /.product-box -->
								<div class="product-box style3">
									<div class="imagebox style1 v3">
										<div class="box-image">
											<a href="#" title="">
												<img src="~/images//product/other/02-v3.jpg" alt="">
											</a>
										</div><!-- /.box-image -->
										<div class="box-content">
											<div class="cat-name">
												<a href="#" title="">Cameras</a>
											</div>
											<div class="product-name">
												<a href="#" title="">Apple İmac Z0SC4824<br />Retina</a>
											</div>
											<div class="status">
												Availablity: In stock
											</div>
											<div class="info">
												<p>
													The iPhone 5c replaces the iPhone 5 in the Apple stable, inheriting its internals, like the A6 processor, 4" screen...
												</p>
											</div>
										</div><!-- /.box-content -->
										<div class="box-price">
											<div class="price">
												<span class="regular">$2,999.00</span>
												<span class="sale">$1,999.00</span>
											</div>
											<div class="btn-add-cart">
												<a href="#" title="">
													<img src="~/images//icons/add-cart.png" alt="">Add to Cart
												</a>
											</div>
											<div class="compare-wishlist">
												<a href="#" class="compare" title="">
													<img src="~/images//icons/compare.png" alt="">Compare
												</a>
												<a href="#" class="wishlist" title="">
													<img src="~/images//icons/wishlist.png" alt="">Wishlist
												</a>
											</div>
										</div><!-- /.box-price -->
									</div><!-- /.imagebox -->
								</div><!-- /.product-box -->
								<div class="product-box style3">
									<div class="imagebox style1 v3">
										<div class="box-image">
											<a href="#" title="">
												<img src="~/images//product/other/03-v3.jpg" alt="">
											</a>
										</div><!-- /.box-image -->
										<div class="box-content">
											<div class="cat-name">
												<a href="#" title="">Cameras</a>
											</div>
											<div class="product-name">
												<a href="#" title="">New X5C-1 2.4Ghz Gyro <br />RC Quadcopter Drone</a>
											</div>
											<div class="status">
												Availablity: In stock
											</div>
											<div class="info">
												<p>
													The iPhone 5c replaces the iPhone 5 in the Apple stable, inheriting its internals, like the A6 processor, 4" screen...
												</p>
											</div>
										</div><!-- /.box-content -->
										<div class="box-price">
											<div class="price">
												<span class="regular">$2,999.00</span>
												<span class="sale">$1,999.00</span>
											</div>
											<div class="btn-add-cart">
												<a href="#" title="">
													<img src="~/images//icons/add-cart.png" alt="">Add to Cart
												</a>
											</div>
											<div class="compare-wishlist">
												<a href="#" class="compare" title="">
													<img src="~/images//icons/compare.png" alt="">Compare
												</a>
												<a href="#" class="wishlist" title="">
													<img src="~/images//icons/wishlist.png" alt="">Wishlist
												</a>
											</div>
										</div><!-- /.box-price -->
									</div><!-- /.imagebox -->
								</div><!-- /.product-box -->
								<div class="product-box style3">
									<div class="imagebox style1 v3">
										<div class="box-image">
											<a href="#" title="">
												<img src="~/images//product/other/04-v3.jpg" alt="">
											</a>
										</div><!-- /.box-image -->
										<div class="box-content">
											<div class="cat-name">
												<a href="#" title="">Cameras</a>
											</div>
											<div class="product-name">
												<a href="#" title="">Apple iPad Air 2 32GB 9.7"<br />Tablet</a>
											</div>
											<div class="status">
												Availablity: In stock
											</div>
											<div class="info">
												<p>
													The iPhone 5c replaces the iPhone 5 in the Apple stable, inheriting its internals, like the A6 processor, 4" screen...
												</p>
											</div>
										</div><!-- /.box-content -->
										<div class="box-price">
											<div class="price">
												<span class="regular">$2,999.00</span>
												<span class="sale">$1,999.00</span>
											</div>
											<div class="btn-add-cart">
												<a href="#" title="">
													<img src="~/images//icons/add-cart.png" alt="">Add to Cart
												</a>
											</div>
											<div class="compare-wishlist">
												<a href="#" class="compare" title="">
													<img src="~/images//icons/compare.png" alt="">Compare
												</a>
												<a href="#" class="wishlist" title="">
													<img src="~/images//icons/wishlist.png" alt="">Wishlist
												</a>
											</div>
										</div><!-- /.box-price -->
									</div><!-- /.imagebox -->
								</div><!-- /.product-box -->
								<div style="height: 9px;"></div>
							</div>
						</div>
					</div><!-- /.wrap-imagebox -->
					<div class="blog-pagination">
						<span>
							Showing 1–15 of 20 results
						</span>
						<ul class="flat-pagination style1">
							<li class="prev">
								<a href="#" title="">
									<img src="~/images//icons/left-1.png" alt="">Prev Page
								</a>
							</li>
							<li>
								<a href="#" class="waves-effect" title="">01</a>
							</li>
							<li>
								<a href="#" class="waves-effect" title="">02</a>
							</li>
							<li class="active">
								<a href="#" class="waves-effect" title="">03</a>
							</li>
							<li>
								<a href="#" class="waves-effect" title="">04</a>
							</li>
							<li class="next">
								<a href="#" title="">
									Next Page<img src="~/images//icons/right-1.png" alt="">
								</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div><!-- /.blog-pagination -->
				</div><!-- /.main-shop -->
			</div><!-- /.col-lg-9 col-md-8 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</main><!-- /#shop -->




<section class="flat-imagebox style4">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="flat-row-title">
					<h3>Recent Products</h3>
				</div>
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
		<div class="row">
			<div class="col-md-12">
				<div class="owl-carousel-3 style3">
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/09.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Apple iPad Mini<br />G2356</a>
							</div>
							<div class="price">
								<span class="sale">$50.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/10.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Apple iPad Mini<br />G2356</a>
							</div>
							<div class="price">
								<span class="sale">$600.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/11.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Beats Pill+ Portable<br />Speaker - (PRODUCT)RED</a>
							</div>
							<div class="price">
								<span class="sale">$1,023.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/12.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Apple iPad Mini<br />G2356</a>
							</div>
							<div class="price">
								<span class="sale">$1,489.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/13.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Beats EP On-Ear<br />Headphones - Blue</a>
							</div>
							<div class="price">
								<span class="sale">$1,749.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/09.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Apple iPad Mini<br />G2356</a>
							</div>
							<div class="price">
								<span class="sale">$50.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/10.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Apple iPad Mini<br />G2356</a>
							</div>
							<div class="price">
								<span class="sale">$600.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/11.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Beats Pill+ Portable<br />Speaker - (PRODUCT)RED</a>
							</div>
							<div class="price">
								<span class="sale">$1,023.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/12.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Apple iPad Mini<br />G2356</a>
							</div>
							<div class="price">
								<span class="sale">$1,489.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/13.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Beats EP On-Ear<br />Headphones - Blue</a>
							</div>
							<div class="price">
								<span class="sale">$1,749.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/09.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Apple iPad Mini<br />G2356</a>
							</div>
							<div class="price">
								<span class="sale">$50.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/10.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Apple iPad Mini<br />G2356</a>
							</div>
							<div class="price">
								<span class="sale">$600.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/11.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Beats Pill+ Portable<br />Speaker - (PRODUCT)RED</a>
							</div>
							<div class="price">
								<span class="sale">$1,023.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/12.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Apple iPad Mini<br />G2356</a>
							</div>
							<div class="price">
								<span class="sale">$1,489.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/13.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Beats EP On-Ear<br />Headphones - Blue</a>
							</div>
							<div class="price">
								<span class="sale">$1,749.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/09.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Apple iPad Mini<br />G2356</a>
							</div>
							<div class="price">
								<span class="sale">$50.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/10.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Apple iPad Mini<br />G2356</a>
							</div>
							<div class="price">
								<span class="sale">$600.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/11.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Beats Pill+ Portable<br />Speaker - (PRODUCT)RED</a>
							</div>
							<div class="price">
								<span class="sale">$1,023.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/12.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Apple iPad Mini<br />G2356</a>
							</div>
							<div class="price">
								<span class="sale">$1,489.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/13.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Beats EP On-Ear<br />Headphones - Blue</a>
							</div>
							<div class="price">
								<span class="sale">$1,749.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/09.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Apple iPad Mini<br />G2356</a>
							</div>
							<div class="price">
								<span class="sale">$50.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/10.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Apple iPad Mini<br />G2356</a>
							</div>
							<div class="price">
								<span class="sale">$600.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/11.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Beats Pill+ Portable<br />Speaker - (PRODUCT)RED</a>
							</div>
							<div class="price">
								<span class="sale">$1,023.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/12.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Apple iPad Mini<br />G2356</a>
							</div>
							<div class="price">
								<span class="sale">$1,489.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/13.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Beats EP On-Ear<br />Headphones - Blue</a>
							</div>
							<div class="price">
								<span class="sale">$1,749.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/09.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Apple iPad Mini<br />G2356</a>
							</div>
							<div class="price">
								<span class="sale">$50.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/10.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Apple iPad Mini<br />G2356</a>
							</div>
							<div class="price">
								<span class="sale">$600.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/11.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Beats Pill+ Portable<br />Speaker - (PRODUCT)RED</a>
							</div>
							<div class="price">
								<span class="sale">$1,023.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/12.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Apple iPad Mini<br />G2356</a>
							</div>
							<div class="price">
								<span class="sale">$1,489.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
					<div class="imagebox style4">
						<div class="box-image">
							<a href="#" title="">
								<img src="~/images//product/other/13.jpg" alt="">
							</a>
						</div><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">Laptops</a>
							</div>
							<div class="product-name">
								<a href="#" title="">Beats EP On-Ear<br />Headphones - Blue</a>
							</div>
							<div class="price">
								<span class="sale">$1,749.00</span>
								<span class="regular">$2,999.00</span>
							</div>
						</div><!-- /.box-content -->
					</div><!-- /.imagebox style4 -->
				</div><!-- /.owl-carousel-3 -->
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-imagebox style4 -->