@using TechnoStore.ViewModels
@model ShopVm
@{
	int counter = 0;
}

<main id="shop">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-4">
						<div class="sidebar ">
							<div class="widget widget-categories">
								<div class="widget-title">
									<h3>Categories<span></span></h3>
								</div>
								<ul class="cat-list style1 widget-content">
							@foreach(var item in Model.Categories)
							{
								<li>
									<span>@item.Name</span>
									<ul class="cat-child">
										<li>
											<a href="#" title="">@item.Name</a>
										</li>
									</ul>
								</li>
							}

								</ul><!-- /.cat-list -->
							</div><!-- /.widget-categories -->
					<form asp-action="Filter" asp-controller="Shop" method="get">
						<div class="widget widget-price">
							<div class="widget-title">
								<h3>Price<span></span></h3>
							</div>
							<div class="widget-content">
								<div class="price search-filter-input">
									<div class="container mt-3">
										<div class="row">
											<input type="number" name="minPrice" placeholder="Min Price">
											<input type="number" name="maxPrice" placeholder="Max Price">
										</div>
									</div>
								</div>
							</div>
						</div><!-- /.widget widget-price -->

						<div class="widget widget-brands">
							<div class="widget-title">
								<h3>Brands<span></span></h3>
							</div>
							<div class="widget-content">
								<ul class="box-checkbox scroll">
									@foreach (var item in Model.Brands)
									{
										<li class="check-box">
											<input type="checkbox" id="brand_@item.Id" name="selectedBrands" value="@item.Id">
											<label for="brand_@item.Id">@item.Name</label>
										</li>
									}
								</ul>
							</div>
						</div><!-- /.widget widget-brands -->

						<div class="widget widget-color">
							<div class="widget-title">
								<h3>Color<span></span></h3>
								<div style="height: 2px"></div>
							</div>
							<div class="widget-content">
								<div style="height: 5px"></div>
								<ul class="box-checkbox scroll">
									@foreach (var item in Model.Colors)
									{
										<li class="check-box">
											<input type="checkbox" id="color_@item.Id" name="selectedColors" value="@item.Id">
											<label for="color_@item.Id">@item.Name</label>
										</li>
									}
								</ul>
							</div>
						</div><!-- /.widget widget-color -->

						<div class="row">
							<div>
								<button type="submit" class="filter-btn btn btn-outline-warning">Filter</button>
							</div>
						</div>
					</form>
							
							
						</div><!-- /.sidebar -->
					</div><!-- /.col-lg-3 col-md-4 -->
					<div class="col-lg-9 col-md-8">
						<div class="main-shop">
							<div class="slider owl-carousel-16">
						@foreach(var item in Model.ShopSliders)
						{
							<div class="slider-item style9">
								<div class="item-text">
									<div class="header-item">
										<p>You can build the banner for other category</p>
										<h2 class="name">@item.Title</h2>
									</div>
								</div>
								<div class="item-image">
									<img src="~/uploads/shopsliders/@item.ImageUrl" alt="">
								</div>
							</div>

							<!-- /.slider-item style9 -->
						}

							</div><!-- /.slider -->
							<div class="wrap-imagebox">
								<div class="flat-row-title">
									<div class="clearfix"></div>
								</div>
								<div class="sort-product">
									<ul class="icons">
										<li>
											<img src="~/images//icons/list-1.png" alt="">
										</li>
										<li>
											<img src="~/images//icons/list-2.png" alt="">
										</li>
									</ul>
									<div class="sort">
										<div class="popularity">
											<select name="popularity">
												<option value="">Sort by popularity</option>
												<option value="">Sort by popularity</option>
												<option value="">Sort by popularity</option>
												<option value="">Sort by popularity</option>
											</select>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="tab-product">
									<div class="row sort-box">
								@foreach(var item in Model.Products)
								{
									<div class="col-lg-4 col-sm-6">
										<div class="product-box">
											<div class="imagebox">
												<div class="box-image owl-carousel-1">
													<a asp-action="detail" asp-route-id="@item.Id" asp-controller="shop" title="">
														<img src="@Url.Content("~/uploads/products/"+@item.ProductImages?.Where(x => x.IsPoster = true).FirstOrDefault()?.ImageUrl)" alt="">
													</a>
													<a asp-action="detail" asp-route-id="@item.Id" asp-controller="shop" title="">
														<img src="@Url.Content("~/uploads/products/"+@item.ProductImages?.Where(x => x.IsPoster = true).FirstOrDefault()?.ImageUrl)" alt="">
													</a>
													<a asp-action="detail" asp-route-id="@item.Id" asp-controller="shop" title="">
														<img src="@Url.Content("~/uploads/products/"+@item.ProductImages?.Where(x => x.IsPoster = true).FirstOrDefault()?.ImageUrl)" alt="">
													</a>
												</div><!-- /.box-image -->
												<div class="box-content">
													<div class="cat-name">
														<a href="#" title="">@item.Category.Name</a>
													</div>
													<div class="product-name">
														<a href="#" title="">@item.Name<br />@item.Brand.Name</a>
													</div>
													@if (item.DiscountPercent != 0)
													{
														<div class="price">
															<span class="regular">$@item.Price</span>
															<span class="sale">$@(item.Price - item.Price * item.DiscountPercent / 100)</span>
														</div>
													}
													else
													{
														<div class="price">
															<span class="sale">$@item.Price</span>
														</div>
													}
												</div><!-- /.box-content -->
												<div class="box-bottom">
													<div class="btn-add-cart">
														<a href="#" title="">
															<img src="~/images//icons/add-cart.png" alt="">Add to Cart
														</a>
													</div>
													<div class="compare-wishlist">
														<a href="#" class="wishlist" title="">
															<img src="~/images//icons/wishlist.png" alt="">Wishlist
														</a>
													</div>
												</div><!-- /.box-bottom -->
											</div><!-- /.imagebox -->
										</div>
									</div>

									<!-- /.col-lg-4 col-sm-6 -->
								}

									</div>
									<div class="sort-box">
								@foreach(var item in Model.Products)
								{
									<div class="product-box style3">
										<div class="imagebox style1 v3">
											<div class="box-image">
												<a href="#" title="">
													<img src="@Url.Content("~/uploads/products/"+@item.ProductImages?.Where(x => x.IsPoster = true).FirstOrDefault()?.ImageUrl)" alt="">
												</a>
											</div><!-- /.box-image -->
											<div class="box-content">
												<div class="cat-name">
													<a href="#" title="">@item.Category.Name</a>
												</div>
												<div class="product-name">
													<a href="#" title="">@item.Name<br />@item.Brand.Name</a>
												</div>
												<div class="status">
													Availablity: In stock
												</div>
												<div class="info">
													<p>
														@item.ShortDescription
													</p>
												</div>
											</div><!-- /.box-content -->
											<div class="box-price">
												@if (item.DiscountPercent != 0)
												{
													<div class="price">
														<span class="regular">$@item.Price</span>
														<span class="sale">$@(item.Price - item.Price * item.DiscountPercent / 100)</span>
													</div>
												}
												else
												{
													<div class="price">
														<span class="sale">$@item.Price</span>
													</div>
												}
												<div class="btn-add-cart">
													<a href="#" title="">
														<img src="~/images//icons/add-cart.png" alt="">Add to Cart
													</a>
												</div>
												<div class="wishlist">	
													<a href="#" class="wishlist" title="">
														<img src="~/images//icons/wishlist.png" alt="">Wishlist
													</a>
												</div>
											</div><!-- /.box-price -->
										</div><!-- /.imagebox -->
									</div>

									<!-- /.product-box -->
								}

										<div style="height: 9px;"></div>
									</div>
								</div>
							</div><!-- /.wrap-imagebox -->
							@* <div class="blog-pagination">
								<span>
									Showing 1–15 of 20 results
								</span>
						<nav aria-label="...">
								<ul class="flat-pagination style1">
									<li class="prev">
								<a asp-action="Index" asp-route-page="@(Model.ActivePage - 1)" title="">
											<img src="~/images//icons/left-1.png"  alt="">Prev Page
										</a>
									</li>

						       	@for (int i = 1; i <= Model.TotalPageCount; i++)
						     	{
								<li class="waves-effect" @(Model.ActivePage == i ? "active" : "")"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
							    }
									<li class="next">
								        <a  asp-action="Index" asp-route-page="@(Model.ActivePage + 1)" title="">
											Next Page<img src="~/images//icons/right-1.png" alt="">
										</a>
									</li>
								</ul>
								</nav>
								<div class="clearfix"></div>
							</div><!-- /.blog-pagination --> *@
						</div><!-- /.main-shop -->
					</div><!-- /.col-lg-9 col-md-8 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</main><!-- /#shop -->

		<section class="flat-imagebox style4">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="flat-row-title">
							<h3>Recent Products</h3>
						</div>
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel-3 style3">
					@foreach(var item in Model.Products)
					{
						<div class="imagebox style4">
							<div class="box-image">
								<a asp-action="detail" asp-route-id="@item.Id" asp-controller="shop" title="">
									<img src="@Url.Content("~/uploads/products/"+@item.ProductImages?.Where(x => x.IsPoster = true).FirstOrDefault()?.ImageUrl)" alt="">
								</a>
							</div><!-- /.box-image -->
							<div class="box-content">
								<div class="cat-name">
									<a href="#" title="">@item.Category.Name</a>
								</div>
								<div class="product-name">
									<a href="#" title="">@item.Name<br />@item.Brand.Name</a>
								</div>
								@if (item.DiscountPercent != 0)
								{
									<div class="price">
										<span class="regular">$@item.Price</span>
										<span class="sale">$@(item.Price - item.Price * item.DiscountPercent / 100)</span>
									</div>
								}
								else
								{
									<div class="price">
										<span class="sale">$@item.Price</span>
									</div>
								}
							</div><!-- /.box-content -->
						</div>

						<!-- /.imagebox style4 -->
					}

						</div><!-- /.owl-carousel-3 -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-imagebox style4 -->

	