@using Business.DTOs.ProductDTOs
@model List<ProductGetDTO>
</div><!-- /.row -->
<div class="box-product">
	<div class="row">
		@foreach (var item in Model)
		{

			<div class="col-lg-3 col-sm-6">
				<div class="product-box">
					<div class="imagebox">
						<span class="item-new">NEW</span>
						<ul class="box-image owl-carousel-1">
							<li>
								<a asp-action="detail" asp-route-id="@item.Id" asp-controller="shop" title="">
									<img src="~/uploads/products/@item.ProductImages?.Where(x=>x.IsPoster = true).FirstOrDefault()?.ImageUrl" alt="">
								</a>
							</li>
							<li>
								<a asp-action="detail" asp-route-id="@item.Id" asp-controller="shop" title="">
									<img src="~/uploads/products/@item.ProductImages?.Where(x=>x.IsPoster = true).FirstOrDefault()?.ImageUrl" alt="">
								</a>
							</li>
							<li>
								<a asp-action="detail" asp-route-id="@item.Id" asp-controller="shop" title="">
									<img src="~/uploads/products/@item.ProductImages?.Where(x=>x.IsPoster = true).FirstOrDefault()?.ImageUrl" alt="">
								</a>
							</li>
						</ul><!-- /.box-image -->
						<div class="box-content">
							<div class="cat-name">
								<a href="#" title="">@item.Category.Name</a>
							</div>
							<div class="product-name">
								<a href="#" title="">@item.Name<br />@item.Brand.Name</a>
							</div>
							@if (item.DiscountPercent != null)
							{
								<div class="price">
									<span class="regular">$@item.Price</span>
									<span class="sale">$@(item.Price - item.Price * item.DiscountPercent / 100)</span>
								</div>
							}
							else
							{
								<span class="regular">$@item.Price</span>
							}
						</div><!-- /.box-content -->
						<div class="box-bottom">
							<div class="btn-add-cart">
								<a href="#" title="">
									<img src="~/images/icons/add-cart.png" alt="">Add to Cart
								</a>
							</div>
							<div class="compare-wishlist">
								<a href="#" class="wishlist" title="">
									<img src="~/images/icons/wishlist.png" alt="">Wishlist
								</a>
							</div>
						</div><!-- /.box-bottom -->
					</div><!-- /.imagebox -->
				</div>
			</div>



		}

	</div>
</div>
